
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="Query Processors">
<meta name="author" content="Rajesh Anthari">
<meta name="_csrf" content="Rajesh Anthari">
<meta name="_csrf_header" content="Rajesh Anthari">
<link rel="icon" href="/images/favicon.png">
<title>Query Engine</title>
<link href="https://getbootstrap.com/docs/3.4/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>

	<div class="container">
		<div class="header clearfix">
			<nav>
				<ul class="nav nav-pills pull-right">
					<li role="presentation" class="active"><a href="/">Home</a></li>
					<li role="presentation"><a href="/databaseInfo">Database Info</a></li>
					<li role="presentation"><a href="#">Contact</a></li>
				</ul>
			</nav>
			<h3 class="text-muted">Query Engine</h3>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="dataId">Select database</label>
					<select class="form-control" id="databaseInfo">
					</select>
				</div>
				<div class="form-group">
					<label for="dataId">Enter data piece</label> <input type="email"
						class="form-control" id="dataId"
						placeholder="Enter search word">
						<input type="text" id="searchId">
				</div>
				<div class="form-group">
					<button class="btn btn-primary" type="button" id="getDataBtn">Get Data</button>
				</div>
			</div>
		</div>
		<div class="row hidden" id="resultInfo">
			<div class="col-xs-12 right" id="functionalBtns">
				<button type="button" class="btn btn-primary" id="displayAllTableDataBtn"> Display All Table Data</button>
				<button type="button" class="btn btn-primary" id="displaySelectedTableDataBtn"> Display Selected Tables Data</button>
				<button type="button" class="btn btn-danger" id="stopLookupBtn"> Stop Table lookup</button>
				<button type="button" class="btn btn-primary" id="refreshSearchInfoBtn"> Refresh Data </button>
			</div>
			<hr>
			<div class="col-xs-12" id="tableNamesDiv">
				<h1>Tables List</h1>
			</div>
			<div class="row hidden" id="templatePage">
				<div class="col-xs-12">
					<table class="table">
						<tbody>
							<tr>
								<td><input type="checkbox" class="tblCheckBox" value="Anthari1"></td>
								<td class="tblName">Anthari1</td>
								<td class="pull-right"><button type="button" class="btn btn-primary display-one-on-one-data">Display Data</button></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-xs-12 datarow">
					<table class="table table-striped tblDataRow">
						<thead>
							<tr>
								
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
				<div class="col-xs-12 data-row-loading text-center" style="display: none;">
					<img alt="Loading..." src="/images/loader.gif">
				</div>
				
			</div>
		</div>
		

		<footer class="footer">
			<p>&copy; 2019 Randish, Inc.</p>
		</footer>

	</div>
	<!-- /container -->
	<script src="https://code.jquery.com/jquery-1.12.4.min.js" crossorigin="anonymous"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/common.js"></script>
	<script type="text/javascript" src="/js/dbSearchEngine.js"></script>
</body>
</html>
